// Article Styles

.article-title {
  padding-bottom: $spacer-sm;
  border-bottom: $border;
}

.article-meta {
  color: $color-text-muted;
}

.article-content {

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: $spacer-xl;
    }
  }

  h1, h2 {
    padding-bottom: $spacer-sm;
    border-bottom: $border;
  }

  .footnote {
    padding: $spacer-xs;
  }

  .footnotes {
    padding-top: $spacer-md;
    border: $spacer-xs solid $color-border;
    color: $color-text-muted;
    font-size: $font-size-sm;
  }

}
