// Base Styles

*,
*::before,
*::after {
  @include box-sizing(border-box);
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-link;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  margin: $spacer-md 0;
  border: 0;
  border-top: $spacer-xs solid $color-background-faded;
}
