// Site Layout Styles

.site-inner {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacer-md;
  padding-left: $spacer-md;
  width: $site-inner-max-width;
  max-width: 100%;
}

.site-header {
  margin-bottom: $spacer-xl;
  padding: $spacer-sm 0;
  border-bottom: $border;
  background-color: $color-background-faded;
  text-align: center;
}

.site-header-inner {
  @include flex;
  @include flex-direction-column;

  @include media-breakpoint-up($site-header-breakpoint) {
    @include flex-direction-row;
  }
}

.site-title {
  display: inline-block;
  padding: $spacer-sm 0;
  color: $color-text;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-text;
    text-decoration: none;
  }

  @include media-breakpoint-up($site-header-breakpoint) {
    margin-right: auto;
  }
}

.site-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.site-menu-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $spacer-md;
  }
}

.site-menu-link {
  display: block;
  padding: $spacer-sm 0;
  color: $color-text-muted;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-text;
    text-decoration: none;
  }
}

.site-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.site-footer {
  margin-top: $spacer-xl;
  padding: $spacer-md 0;
  border-top: $border;
  color: $color-text-muted;
}
