// SCSS Mixins

@mixin box-sizing($sizing: inherit) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin media-breakpoint-up($name, $breakpoints: $breakpoints) {
  $min: map-get($breakpoints, $name);
  @if $min != 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin clearfix {
  &::before, &::after {
    display: table;
    content: " ";
  }
  &::after {
    clear: both;
  }
}
