// Typography Styles

p {
  margin-top: 0;
  margin-bottom: $spacer-md;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: $spacer-md;
  font-weight: $font-weight-bold;
  line-height: $line-height-sm;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  color: $color-text-muted;
  font-size: $h6-font-size;
}

ol, ul {
  margin-top: 0;
  margin-bottom: $spacer-md;

  ol, ul {
    margin-bottom: 0;
  }
}

dl {
  margin-top: 0;
  margin-bottom: $spacer-md;

  dt {
    font-weight: $font-weight-bold;
  }

  dd {
    margin-bottom: $spacer-sm;
    margin-left: 0;
  }
}

blockquote {
  margin: 0 0 $spacer-md;
  padding-left: 1em;
  border-left: $spacer-xs solid $color-border;
  color: $color-text-muted;
}

figure {
  margin: 0 0 $spacer-md;

  figcaption {
    color: $color-text-muted;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin: 0 0 $spacer-md;
  border-collapse: collapse;
  border: $border;

  th, td {
    padding: $spacer-xs $spacer-sm;
    border: $border;
  }

  th {
    background-color: $color-background-faded;
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }
}

.gist .blob-num {
  border: 0;
}

small, .small {
  font-size: 80%;
  font-weight: $font-weight-normal;
}

mark, .mark {
  padding: 0.125em;
  background-color: #fcf8e3;
}

code, kbd, pre, samp {
  font-family: $font-family-monospace;
}

code {
  padding: ($spacer-xs / 2) $spacer-sm;
  border-radius: $border-radius;
  background-color: $color-background-faded;
  color: $color-text;
  font-size: 80%;

  a & {
    color: inherit;
  }
}

pre {
  display: block;
  overflow: auto;
  margin: 0 0 $spacer-md;
  padding: $spacer-md;
  border-radius: $border-radius;
  background-color: $color-background-faded;
  color: $color-text;
  font-size: 80%;

  code {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    font-size: 100%;
  }
}

kbd {
  padding: ($spacer-xs / 2) $spacer-sm;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  box-shadow: inset 0 -1px 1px transparentize($color-black, 0.8);
  background-color: $color-white;
  color: $color-black;
  font-size: 75%;
}

samp {
  padding: ($spacer-xs / 2) $spacer-sm;
  border-radius: $border-radius;
  background-color: $color-black;
  color: $color-white;
  font-size: 80%;
}
