---
layout: default
---

<article class="article article-post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article-header">
    <h1 class="article-title js-emoji" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <footer class="article-meta">
    <ul class="list-inline">
      <li class="list-inline-item">
        {% include icons/calendar.svg %}
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format | escape }}</time>
      </li>
    </ul>
  </footer>

  <div class="article-content js-emoji" itemprop="articleBody">
    {{ page.content }}
  </div>

  <footer class="article-meta">
    <ul class="list-inline">
      {% if page.categories and page.categories != empty %}
        <li class="list-inline-item">
          {% include icons/file-directory.svg %}
          {{ page.categories | join: " / " | escape }}
        </li>
      {% endif %}

      {% if page.tags and page.tags != empty %}
        <li class="list-inline-item">
          {% include icons/tag.svg %}
          {{ page.tags | join: ", " | escape }}
        </li>
      {% endif %}
    </ul>
  </footer>

</article>
